html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.loginbtn {
    position: absolute;
    top: 8px;
    right: 270px;
    font-size: 18px;
}
.signupbtn {
    position: absolute;
    top: 8px;
    right: 170px;
    font-size: 18px;
}
.btn-success {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
    .btn-success:hover {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }